

:root {
    --primary: #18253c;
    /* --primary: #fff; */
    --secondary: #00dd53;
    --bg: #0e1523;
    /* --bg: #f5f5f5; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.slider {
    background-color: var(--bg);
    padding: 11.5rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2rem;
    padding-left: 9%;
    font: normal 1rem sans-serif;
}

.card {
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color:var(--primary);
    color: #fff;
    border-radius: 1rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
}

.rating-value {
    font-size: 25px;
    color: #00dd53;
    margin-left: 50px;
}

.card:hover {
    border: .1rem solid var(--secondary);
    transform: scale(1.05);
}

.card::before, .card::after {
    position: absolute;
    content: "";
    background-color: var(--secondary);
    border-radius: 50%;
    transition: .5s ease-in-out;
    z-index: 100;
}

.card::before {
    top: -6%;
    right: -6%;
    width: 9rem;
    height: 9rem;
}

.card::after {
    bottom: -6%;
    left: -6%;
    width: 5rem;
    height: 5rem;
}

.card:hover::before {
    transform: scale(1.8);
}

.card:hover::after {
    transform: scale(0);
}

.card-content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.card-img, 
.card-title {
    transform: translateY(4rem);
    transition: .5s ease-in-out;
}

.card-img {
    width: auto;
    height: 11.5rem;
    border-radius: 10%;
}

.card-title {
    font-size: 1rem;
    text-transform: capitalize;
    transition-delay: .1s;
}

.card-body, 
.card-footer {
    transform: translateY(8rem);
    transition: .5s ease-in-out;
}

.card-body {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-delay: .2s;
}

.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
    transform: translateY(0);
}

.card-footer {
    transition-delay: .3s;
}

.star {
    font-size: 1.4rem;
    color: gold;
}

.card-price {
    font: bolder 1.5rem sans-serif;
    margin-right: 70px;
}

.btn {
    padding: 1rem 2rem;
    background-color: unset;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
}

.btn-success {
    background-color: var(--secondary);
}

.btn-border {
    border: .1rem solid var(--secondary);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    align-items: center;
    padding: 14px;
}


@keyframes moveText{
    0%,10%,100%{
        background-position: -24rem 0;
    }

    65%,85%{
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText{
    0%,10%,100%{
        width: 0;
    }

    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }

    75%,85%{
        opacity: 0;
    }
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateText{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes progress{
   to{
    stroke-dashoffset: var(--target);
   }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-22px);
    }
    100%{
        transform: translateY(0);
    }
}




/*======================= BrakPoints ============================ */

@media(max-width:1200px){
    html{
        font-size: 95%;
    }
}

@media(max-width:991px){
    .slider,.card{
        flex-direction: column-reverse;
    }
    .card-content,.card-img{
        flex-direction: column;
    }
    .card .card-img .card-title{
        width: 100%;
    }
    .card-img{
        width: 52vw;
    }
    .card-img img{
        width: 100%;
        height: 100%;
    }
    .slider{
        grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
    }
    .card-img{
        margin-top: 3rem;
    }
}

@media(max-width:768px){
    .card{
        display: none;
    }
    .slider .card,.card-content::after,.card::before{
        display: block;
    }
    ul.card-title{
        position: absolute;
        top: -1000px;
        transition: all .3s ease;
        width: 100%;
        text-align: center;
        display: block;
        background: var(--gradient-white-bg);
        left: 0;
        border-top: 2px solid rgba(248, 202, 202, .7);
    }
    ul.card-body h1{
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .card-body.card-content{
        top: 100%;
    }

    body.slider .card{
        opacity: 1;
        pointer-events: auto;
    }
    .btn{
        padding: 10px;
    }
    .home{
        grid-gap: 0;
    }
    .fillter-buttons button{
        padding: 10px;
        font-size: .8rem;
    }

    .slider{
        grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
    }
}

@media(max-width:530px){
    html{
        font-size: 80%;
    }

    section{
        padding: 50px 3%;
        grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
    }
    .slider form .card{
        display: block;
    }

    .card-content input {
        width: 100%;
    }
    .card{
        display: none;
    }
    .card-img img{
        width: 100%;
    }
    .rating-value{
        width: 23.8rem;
    }

    .card{
        width: 330px;
        margin-bottom: 3rem;
        margin-left: 4rem;
    }
    .about-btn button{
        padding: 10px 15px;
    }
    .fillter-buttons{
        display: grid;
        grid-gap: 1rem;
    }
    .fillter-buttons button{
        width: 100%;
        padding: 13px;
    }

}

@media(max-width:830px){
    html{
        font-size: 90%;
    }
    section{
        padding: 50px 3%;
    }

    .slider {
        
    }
    .slider form .card{
        display: block;
    }
    .card-content input {
        width: 100%;
    }
    .card{
        display: none;
    }
    .card-img img{
        width: 100%;
        height: auto;
    }
    .rating-value{
        width: 23.8rem;
    }

    .slider{
        grid-template-columns: repeat(auto-fill,minmax(260px , 1fr));
    }
    .card{
        width: 330px;
        margin-bottom: 3rem;
        margin-left: 4rem;
    }
    .about-btn button{
        padding: 10px 15px;
    }
    .fillter-buttons{
        display: grid;
        grid-gap: 1rem;
    }
    .fillter-buttons button{
        width: 100%;
        padding: 13px;
    }

}


/*Media*/

@media(min-width: 1000px) {
    .body {
        padding: 90px;
        padding-left: 260px;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media(min-width: 550px) {
    .body {
        text-align: center;
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    h1 .card-title {
        font-size: 1.85rem;
    }
}